In [1]:
import csv
import pandas as pd

In [2]:
data_path = 'csvs/movie_data_validated_0.csv'
data = pd.read_csv(data_path)
#data.head()

In [3]:
#movie
insert_columns = ['movie_title', 'title_year', 'language', 'country', 'duration', 'content_rating', 'movie_imdb_link', 'director_name', 'imdb_score', 'num_voted_users','gross']
movies_df = data[insert_columns]
movies_df.head()

,movie_title,title_year,language,country,duration,content_rating,movie_imdb_link,director_name,imdb_score,num_voted_users,gross
0,Avatar,2009,English,USA,178.0,PG-13,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,James Cameron,7.9,886204,760505847.0
1,Pirates of the Caribbean: At World's End,2007,English,USA,169.0,PG-13,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,Gore Verbinski,7.1,471220,309404152.0
2,Spectre,2015,English,UK,148.0,PG-13,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,Sam Mendes,6.8,275868,200074175.0
3,The Dark Knight Rises,2012,English,USA,164.0,PG-13,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,Christopher Nolan,8.5,1144337,448130642.0
4,John Carter,2012,English,USA,132.0,PG-13,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,Andrew Stanton,6.6,212204,73058679.0

In [4]:
movies_df.to_csv('csvs/movies.csv',index=False)

In [5]:
#genres
unique_genres = data['genres'].str.get_dummies(sep='|').columns.tolist()
genres_df = pd.DataFrame(unique_genres, columns=['genres'])
#print(unique_genres)
genres_df.to_csv('csvs/genres.csv',index=False)

In [6]:
#movies_genres
mg_df = data[['movie_title', 'genres']]
mg_df['genres'] = mg_df['genres'].str.split('|')
mg_df = mg_df.explode('genres')
mg_df

/var/folders/x2/t36r70sd4yg7f3bcqgnj4nrm0000gn/T/ipykernel_62342/2968210544.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mg_df['genres'] = mg_df['genres'].str.split('|')

                                   movie_title       genres
0                                       Avatar       Action
0                                       Avatar    Adventure
0                                       Avatar      Fantasy
0                                       Avatar       Sci-Fi
1     Pirates of the Caribbean: At World's End       Action
...                                        ...          ...
4541                                 Newlyweds        Drama
4542                          Shanghai Calling       Comedy
4542                          Shanghai Calling        Drama
4542                          Shanghai Calling      Romance
4543                         My Date with Drew  Documentary

[13195 rows x 2 columns]

In [7]:
mg_df.to_csv('csvs/movie_genres.csv',index=False)

In [8]:
#actor
actor_df = data[['actors']]
actor_df = actor_df['actors'].str.split('|').explode()
#actor_df.head()
actor_df = actor_df.drop_duplicates()
actor_df.to_csv('csvs/actors.csv',index=False)

In [9]:
#movies_actors
ma_df = data[['movie_title', 'actors']]
ma_df['actors'] = ma_df['actors'].str.split('|')
ma_df = ma_df.explode('actors')
ma_df = ma_df.drop_duplicates()
ma_df = ma_df.dropna()
ma_df.to_csv('csvs/movie_actors.csv',index=False)

/var/folders/x2/t36r70sd4yg7f3bcqgnj4nrm0000gn/T/ipykernel_62342/3737530334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma_df['actors'] = ma_df['actors'].str.split('|')

In [10]:
actor_df

0              CCH Pounder
0         Joel David Moore
0                Wes Studi
1              Johnny Depp
1            Orlando Bloom
               ...
4541    Caitlin FitzGerald
4541       Daniella Pineda
4543           John August
4543      Brian Herzlinger
4543              Jon Gunn
Name: actors, Length: 5603, dtype: object